<section class="add-game">
    <form>
        <div class="fieldset">
            <label for="gameTitle">Game Title: </label>
            <input type="text" [(ngModel)]="game.title" id="gameTitle" name="title">
        </div>
        <div class="fieldset">
            <label for="caseImg">Case Image Url:</label>
            <input type="text" [(ngModel)]="game.case_img" id="caseImg" name="case">
        </div>
            <div class="fieldset">
            <button (click)="addGame()">Save game</button>
        </div>
    </form>
</section>